
#nav {
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-weight:bold;
    justify-content: center;
    margin-top: 20px;
}  

#menus 
{
    background-color: #F16767;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}

#nav a {
  color: white;
  text-align: center;
  text-decoration: none; 
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}  

#nav a:hover {
  background-color: white;
  color: #F16767;
  border-radius: 12px;
  padding: 5px;
}  
#nav a.active {
  background-color: #262626;
  color: white;
  padding: 5px;
}

footer 
{
    background-color: #FFA3A3;
    padding: 2vh;
    text-align: center;
    background-size: cover;
    align-self: flex-end;
    width: 100vw;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;

}

/* home */

.bg{
    text-align: center;
    background-image: url(img/HomeBG.png);
    background-size: cover;
    /* change to fill if phone */
}
.korea{
  color: #FFF085;
  margin-top: 15%;
}
#ing{
  font-size: 6em;
  font-family: 'Alfa Slab One';
}
#kor{
  font-size: 4em;
  font-family: 'Alfa Slab One';
}
.bounce {
    display: inline-block;
    animation: bounce 1s ease infinite;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


/* about */


/* menu */


/* history */