
<<<<<<< Updated upstream
=======
body
{
    margin: 0;
}

>>>>>>> Stashed changes
#nav {
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-weight:bold;
    justify-content: center;
    margin-top: 20px;
}  

#menus 
{
    background-color: #F16767;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}

#nav a {
  color: white;
  text-align: center;
  text-decoration: none; 
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}  

#nav a:hover {
  background-color: white;
  color: #F16767;
  border-radius: 15px;
  padding: 5px;
}  
#nav a.active {
  background-color: #262626;
  color: white;
  padding: 5px;
}

/* home */

.bg-light{
    text-align: center;
    background-image: url(img/HomeBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.korea{
  color: #FFF085;
  margin-top: 200px;
}
#ing{
  font-size: 7em;
  font-weight: bolder;
}
#kor{
  font-size: 5em;
  font-weight: bold;
}


/* about */


/* menu */


/* history */
.judul {
  color: #F16767;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

hr {
  background-color: #F16767;
  height: 5px;
}
