#nav {
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-weight:bold;
    justify-content: center;
    margin-top: 20px;
}  

#menus {
    background-color: #F16767;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      gap: .5svw;
    }
}

#menus a {
  color: white;
  fill: white;
  text-align: center;
  text-decoration: none; 
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 5px;
}  

#menus a:hover {
  background-color: white;
  color: #F16767;
  fill: #F16767;
  border-radius: 16px;
  padding: 5px;
}  
#menus a svg {
  fill: inherit;
}

#menus a.active {
  color: #FFFF8D;
  fill : #FFFF8D;
  padding: 5px;
}

@media (max-width: 800px) {
  #nav {
    width: 100vw;
    margin: 0;
  }
  #menus {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-flow: column;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    gap: 0;
    border-radius: 0;
    justify-items: center;
  }
  #menus a{
    height: 45px;
    width: 100%;
    margin: 0;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menus a:hover {
    border-radius: 0;

  }
  #menus > a > span {
    display: none;
  }
}
footer 
{
    background-color: #FFA3A3;
    padding: 2vh;
    text-align: center;
    background-size: cover;
    align-self: flex-end;
    width: 100vw;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    bottom: 0;
    position: relative;
    font-size: 1em;

}

.bg{
    min-height: 100vh;
    background-image: url(img/HomeBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* change to fill if phone */
}
.korea{
  color: #FFF085;
  text-align: center;
}
#ing{
  font-size:  10vw;
  font-family: 'Alfa Slab One';
}
#kor{
  font-size: 7.5vw;
  font-family: 'Alfa Slab One';
}
.bounce {
    display: inline-block;
    animation: bounce 1s ease infinite;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

